.cards {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 66px;
    gap: 1rem;
   }

   .card{
    border-radius: 11px;
    overflow: hidden;
    background-color: #fff;
   }

   .card__image {
      width: 282px;
   }

   .card__text {
    color: black;
    width: 246px;
    height: 30px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin-left: -20px;
   }

   .card__button {
    align-items: center;
    display: flex;
   text-align: center;
   }

   .card__like-button {
    background-image: url(../images/heart_like.svg);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
   }

   .card__like-button:hover{
      transform: scale(1.05);

   }

@media screen and (max-width: 768px) {
   .cards {
  
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 42px;
  }
}

